{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} XNucCalc {% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container border border-dark rounded" style="width: 800px;">
  <div class="row border-bottom bg-primary border-dark text-light">
    <div class="col">
        <h2><center>X Nucleus Coil Voltage Calibration</center></h2>
    </div>
  </div>
  
  <form class="form" method="post">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <div class="row">
      <div class="col">{{ wtf.form_field(form.name) }}</div>
      <div class="col">{{ wtf.form_field(form.date) }}</div>
    </div>
    <div class="row">
      <div class="col">{{ wtf.form_field(form.freq_1H) }}</div>
      <div class="col">{{ wtf.form_field(form.vref_1H) }}</div>
    </div>
    <div class="row">
      <div class="col">{{ wtf.form_field(form.freq_X) }}</div>
      <div class="col">{{ wtf.form_field(form.vref_X) }}</div>
    </div>
  
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="text-center" scope="col"><small>#</small></th>
          {% for v  in study.get_measurements()[0] %}
            <th class="text-center" scope="col"><small>[{{ loop.index }}]</small></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Voltage</th>
          {% for v in study.get_measurements()[0] %}
          <td>
            <div class="input number">
            <input type="number" class="form-control form-control-sm" id="input_v{{ loop.index }}" onClick="this.select();" value="{{ v }}">
            </div>
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">Amplitude</th>
          {% for a in study.get_measurements()[1] %}
          <td>
            <div class="input number">
            <input type="number" class="form-control form-control-sm" id="input_a{{ loop.index }}" onClick="this.select();" value="{{ a }}">
            </div>
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <input class="btn btn-sm btn-primary" type="submit" value="Save">
    <a href="/study?id=new" class="btn btn-sm btn-primary">New</a>
    </form>
  <div class="graph" id="chart" style="margin: auto; "></div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'plotly-latest.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'jquery-3.3.1.min.js') }}"></script>

<script>
  var plot_animate = false;

  function get_measurements() {
    v = [];
    a = [];
    $('input[id^="input_v"]').each(function() {
      v.push(parseInt($(this).val()));
    });
    $('input[id^="input_a"]').each(function() {
      a.push(parseInt($(this).val()));
    });
    return {"v": v, "a": a};
  }

  function values_updated() {
    var measurements = get_measurements();
    var a_err = measurements.a.map(function(elem) { return Math.round(Math.sqrt(elem)*10)/10; });
    $("#meas_arr").val(JSON.stringify([measurements.v, measurements.a]))
    
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/calc/vref",
      data: JSON.stringify(measurements),
      success: function (data) {
        $("#vref_X").val(Math.round(data.v_ref*10)/10);
        var graphdata = [
          {
            id: "fit",
            name: "best fit",
            x: data.v,
            y: data.a,
            type: "scatter"
          },
          {
            id: "meas",
            name : "measurement",
            mode: "markers",
            marker: {
              size: 10,
              color: "rgb(255,40,40)"
            },
            x: measurements.v,
            y: measurements.a,
            error_y: {
              type:    'data',
              array:   a_err,
              visible: true
            },
            type: "scatter"
          }
        ]
        var layout = {
          showlegend: false,
          title: 'Flip Angle Fit',
          xaxis: {
            title: 'Coil Voltage (V)',
            showgrid: false
          },
          yaxis: {
            title: 'Amplitude (channels)'
          }
        };
        if (!plot_animate) {
          plot_animate = true;
          Plotly.plot('chart',graphdata, layout);
        } else {
          var animation = { transition: { duration: 500, easing: 'cubic-in-out' }, frame: { duration: 500 }};
          Plotly.react('chart',graphdata, animation);
        }
      },
      dataType: "json"
    });
  }

  $(document).ready(function() {
    // on changing measurement values, update plot
    $('input[id^="input_v"]').each(function() {
      $(this).change(values_updated);
    });
    $('input[id^="input_a"]').each(function() {
      $(this).change(values_updated);
    });

    // set types of wtforms
    $("#date").attr({type:"datetime", readonly:true})
    $("#freq_1H").attr({type:"number"})
    $("#vref_1H").attr({type:"number", step: 0.1})
    $("#freq_X").attr({type:"number"})
    $("#vref_X").attr({type:"number", step: 0.1, readonly:true})
    // initialize plot
    values_updated();

    // prevent submit on enter press
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  })
</script>

{% endblock %}